<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        
        {% block head %}

        {% endblock head %}
        
    </head>

    <body>
        <header class="cabecalho">
            <div class="menu">
                <a href ="/" class="active">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        
        {% block content %}


        {% endblock %}







    
    
    </body>

</html>