{% extends "layout.njk" %}

{% block content %}

<form class="container" method="POST" action="/teachers">
     <section class="images"
              style="background: url({{teachers.id}}) no-repeat center center / cover">
     </section>

     
     <section class="detalhes">
        <h3>Dados Cadastrais</h3>
        
        {%include 'teachers/fields.njk'%}        

</form>

{% endblock content %}


