        <div class="item">
            <div>Foto</div>
            <div>
                <input 
                    type="url" 
                    name="avatar_url"
                    placeholder="http://"
                    value="{{teacher.avatar_url}}"
                >
            </div>

        <div class="item">
            <div>Nome Completo</div>
            <div>
                <input 
                    type="text" 
                    name="Name"
                    placeholder="Informe seu nome"
                    value="{{teacher.Name}}"
                >
            </div>
        </div>

        <div class="item">
            <div>Data Nascimento</div>
            <div>
                <input 
                    type="date"
                    name="dt_nascimento"
                    value="{{teacher.dt_nascimento}}"
                >
            </div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>
                <select name="Escolaridade">
                    <option selected disabled>Selecione a Fromação</option>
                    <option value="{{teacher.Escolaridade.Graduado}}">Graduado</option>
                    <option value="{{teacher.Escolaridade.Mestrado}}">Mestrado</option>
                    <option value="{{teacher.Escolaridade.Doutorado}}">Doutorado</option>
                </select>
            </div>
        </div>
        
        <div class="item">
            <div>Tipo de Aula</div>
            <div>
                <small>
                    <input 
                        type="radio" 
                        name="tipoaula" 
                        {% if teacher.tipoaula =='Presencial'  %}
                            checked
                        {% endif %}
                        
                        >Presencial
                </small>
                
                <small>
                    <input 
                        type="radio" 
                        name="tipoaula" 
                        {% if teacher.tipoaula =='Distância'  %}
                            checked
                        {% endif %}
                        >Á Distância</small>
            </div>
        </div>

        <div class="item">
            <div>Área de Atuação</div>
            <div>
                <input 
                    type="text" 
                    name="atuacao"
                    placeholder="Disciplinas separadas por vírgula"
                    value= "{{teacher.atuacao}}"
                >
            </div>
        </div>
        
        <button type="submit">Salvar</button>